* {
    margin: 0;
}

body{
    margin: 0 auto;
    width: 100%;
}

header{
    margin-top: 30px;
    display: flex;
    align-items: center;
    min-height: 250px;
    background-position: center;
    background: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0688/7383/uppercase_xoxo-rainbow-light_mirror.png");
    /* background-repeat: no-repeat; */
    z-index: 1;
    margin: 0 auto;
    background-size: cover;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
}

header h1{
 width: 100%;
 height: 100%;
 justify-self: center;
 align-self: center;
 text-align: center;
 
}

.container{
  
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;   
    padding-top: 10%; 
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }

div{
    min-width:150px;
    min-height: 150px;
    border: 1px solid black;
}

footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

h1{
    padding: 5px;
    text-align: center;

}

.div1{
    background-color:tan;
    align-items: center;
    justify-self: center;
    order: 0;
}

.div1:hover{
    background-color: #fff;
    border:1px solid tan;
}

.div2{
    background-color:tan;
    order: 1;
}

.div2:hover{
    background-color: #fff;
}

.div3{
    background-color:tan;
    order: 2;
}

.div3:hover{
    background-color: #fff;
}

.div4{
    background-color: tan;
    order: 3;

}

.div4:hover{
    background-color: #fff;
    border:1px solid tan;
}

.div5{
    background-color: tan;
    order: 4;
}

.div5:hover{
    background-color: #fff;
    border:1px solid tan;
}

.div6{
    background-color:tan;
}
.div6:hover{
    background-color: #fff;
    border:1px solid tan;
}

.div7{
    background-color:tan;
}

.div7:hover{
    background-color: #fff;
    border:1px solid tan;
}

.div8{
    background-color:tan;
}

.div8:hover{
    background-color: #fff;
    border:1px solid tan;
}

.div9{
    background-color:tan;
}

.div9:hover{
    background-color: #fff;
    border:1px solid tan;
}

.powderblue {
    color: powderblue;
}

.red{
    color: red;
}

.pink{
    color: pink;
}

div > h3 {
    text-decoration: underline;
}

table{
    width: 100%;
}

table, tr, th, td {
    border: 1px solid black;
}